In [1]:
import numpy as np
a = np.array([9,7,5,3,1])
a

array([9, 7, 5, 3, 1])

In [2]:
%timeit(a)

56.5 ns ± 2.12 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [13]:
b = np.array([10,8,6,4,2])
b

array([10,  8,  6,  4,  2])

In [5]:
a = np.hstack([a,b])
a

array([ 9,  7,  5,  3,  1, 10,  8,  6,  4,  2])

In [1]:
c = ([[1,2,3,4,5],[6,7,8,9,0]])
print(c)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 0]]

In [55]:
import numpy as np
a = np.shape(c)
a

(2, 5)

In [22]:
a = np.vstack([c,b]) #vstack takes 2d array 
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9,  0],
       [10,  8,  6,  4,  2]])

In [46]:
from numpy import array
a=np.shape(b)

In [66]:
import numpy as np
a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [67]:
a.shape

(3, 5)

In [68]:
a.size

15

In [69]:
a.ndim

2

In [70]:
a.dtype

dtype('int32')

In [71]:
type(a)

numpy.ndarray

# array creation

In [1]:
import numpy as np
a = np.array([2,3,4])
a

array([2, 3, 4])

In [2]:
a.dtype

dtype('int32')

In [3]:
b = np.array([1.2, 3.5, 5.1])
b

array([1.2, 3.5, 5.1])

In [4]:
b.dtype

dtype('float64')

In [5]:
#array transforms sequences of sequences in to two dimensional arrays 
b = np.array([(1.5,2,3), (4,5,6),(7.5,8,9)])
b

array([[1.5, 2. , 3. ],
       [4. , 5. , 6. ],
       [7.5, 8. , 9. ]])

In [6]:
b = np.array([(1.5,2,3), (4,5,6),(7.5,8,9)], dtype=complex)
b

array([[1.5+0.j, 2. +0.j, 3. +0.j],
       [4. +0.j, 5. +0.j, 6. +0.j],
       [7.5+0.j, 8. +0.j, 9. +0.j]])

In [7]:
#function of array:
zeros
ones
empty

NameError: name 'zeros' is not defined

In [8]:
np.zeros(3,)

array([0., 0., 0.])

In [9]:
np.zeros((4,5), dtype="int16")

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=int16)

In [10]:
np.ones((3,6,8), dtype = "float32")

array([[[1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1., 1., 1., 1.]]], dtype=float32)

In [11]:
np.empty( (2,4))

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000],
       [0.00000000e+000, 4.05133830e-321, 1.33511426e-306,
        8.34451503e-308]])

In [12]:
np.arange( 0, 2, 0.3 )  #it accepts float arguments

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

In [13]:
np.arange(2,20,3)

array([ 2,  5,  8, 11, 14, 17])

In [14]:
from numpy import pi
np.linspace( 0, 2, 9 )                 # 9 numbers from 0 to 2

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [15]:
x = np.linspace( 0, 2*pi, 100 )        # useful to evaluate function at lots of points
print(x)

[0.         0.06346652 0.12693304 0.19039955 0.25386607 0.31733259
 0.38079911 0.44426563 0.50773215 0.57119866 0.63466518 0.6981317
 0.76159822 0.82506474 0.88853126 0.95199777 1.01546429 1.07893081
 1.14239733 1.20586385 1.26933037 1.33279688 1.3962634  1.45972992
 1.52319644 1.58666296 1.65012947 1.71359599 1.77706251 1.84052903
 1.90399555 1.96746207 2.03092858 2.0943951  2.15786162 2.22132814
 2.28479466 2.34826118 2.41172769 2.47519421 2.53866073 2.60212725
 2.66559377 2.72906028 2.7925268  2.85599332 2.91945984 2.98292636
 3.04639288 3.10985939 3.17332591 3.23679243 3.30025895 3.36372547
 3.42719199 3.4906585  3.55412502 3.61759154 3.68105806 3.74452458
 3.8079911  3.87145761 3.93492413 3.99839065 4.06185717 4.12532369
 4.1887902  4.25225672 4.31572324 4.37918976 4.44265628 4.5061228
 4.56958931 4.63305583 4.69652235 4.75998887 4.82345539 4.88692191
 4.95038842 5.01385494 5.07732146 5.14078798 5.2042545  5.26772102
 5.33118753 5.39465405 5.45812057 5.52158709 5.58505361 5.64852012
 5.71198664 5.77545316 5.83891968 5.9023862  5.96585272 6.02931923
 6.09278575 6.15625227 6.21971879 6.28318531]

In [16]:
f = np.sin(x)
f

array([ 0.00000000e+00,  6.34239197e-02,  1.26592454e-01,  1.89251244e-01,
        2.51147987e-01,  3.12033446e-01,  3.71662456e-01,  4.29794912e-01,
        4.86196736e-01,  5.40640817e-01,  5.92907929e-01,  6.42787610e-01,
        6.90079011e-01,  7.34591709e-01,  7.76146464e-01,  8.14575952e-01,
        8.49725430e-01,  8.81453363e-01,  9.09631995e-01,  9.34147860e-01,
        9.54902241e-01,  9.71811568e-01,  9.84807753e-01,  9.93838464e-01,
        9.98867339e-01,  9.99874128e-01,  9.96854776e-01,  9.89821442e-01,
        9.78802446e-01,  9.63842159e-01,  9.45000819e-01,  9.22354294e-01,
        8.95993774e-01,  8.66025404e-01,  8.32569855e-01,  7.95761841e-01,
        7.55749574e-01,  7.12694171e-01,  6.66769001e-01,  6.18158986e-01,
        5.67059864e-01,  5.13677392e-01,  4.58226522e-01,  4.00930535e-01,
        3.42020143e-01,  2.81732557e-01,  2.20310533e-01,  1.58001396e-01,
        9.50560433e-02,  3.17279335e-02, -3.17279335e-02, -9.50560433e-02,
       -1.58001396e-01, -2.20310533e-01, -2.81732557e-01, -3.42020143e-01,
       -4.00930535e-01, -4.58226522e-01, -5.13677392e-01, -5.67059864e-01,
       -6.18158986e-01, -6.66769001e-01, -7.12694171e-01, -7.55749574e-01,
       -7.95761841e-01, -8.32569855e-01, -8.66025404e-01, -8.95993774e-01,
       -9.22354294e-01, -9.45000819e-01, -9.63842159e-01, -9.78802446e-01,
       -9.89821442e-01, -9.96854776e-01, -9.99874128e-01, -9.98867339e-01,
       -9.93838464e-01, -9.84807753e-01, -9.71811568e-01, -9.54902241e-01,
       -9.34147860e-01, -9.09631995e-01, -8.81453363e-01, -8.49725430e-01,
       -8.14575952e-01, -7.76146464e-01, -7.34591709e-01, -6.90079011e-01,
       -6.42787610e-01, -5.92907929e-01, -5.40640817e-01, -4.86196736e-01,
       -4.29794912e-01, -3.71662456e-01, -3.12033446e-01, -2.51147987e-01,
       -1.89251244e-01, -1.26592454e-01, -6.34239197e-02, -2.44929360e-16])

In [17]:
#printing arrays 1d,2d &,3d

In [18]:
a = np.arange(8)
print(a)

[0 1 2 3 4 5 6 7]

In [19]:
a = np.arange(0,40).reshape(5,8)
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39]])

In [20]:
a = np.arange(24).reshape(3,2,4)
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [21]:
(np.arange(10000))

array([   0,    1,    2, ..., 9997, 9998, 9999])

In [22]:
print(np.arange(10000).reshape(100,100))

[[   0    1    2 ...   97   98   99]
 [ 100  101  102 ...  197  198  199]
 [ 200  201  202 ...  297  298  299]
 ...
 [9700 9701 9702 ... 9797 9798 9799]
 [9800 9801 9802 ... 9897 9898 9899]
 [9900 9901 9902 ... 9997 9998 9999]]

In [23]:
np.set_printoptions(threshold=np.nan)
np.arange(1000)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935,
       936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948,
       949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961,
       962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974,
       975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999])

# basic airthmatic operation

In [24]:
a = np.array([10,20,30,40])
b= np.arange(4)
print(a)
print(b)

[10 20 30 40]
[0 1 2 3]

In [47]:
c = a-b
c

array([10, 19, 28, 37])

In [26]:
b**2

array([0, 1, 4, 9], dtype=int32)

In [49]:
np.sin(a)

array([-0.54402111,  0.91294525, -0.98803162,  0.74511316])

In [50]:
10*np.sin(a)

array([-5.44021111,  9.12945251, -9.88031624,  7.4511316 ])

In [51]:
a<35

array([ True,  True,  True, False])

In [ ]:
#operators have different functions
#element wise product
#dot product
#matric product

 Arithmetic operators on arrays apply elementwise. A new array is created and filled with the result.

In [27]:
a[a<35]

array([10, 20, 30])

In [42]:
import numpy as np
i = np.arange(3*50*50).reshape(3,50,50)                       #those numbers which have been divided by 3,5,&7
i[(i%3==0)&(i%5==0)&(i%7==0)]

array([   0,  105,  210,  315,  420,  525,  630,  735,  840,  945, 1050,
       1155, 1260, 1365, 1470, 1575, 1680, 1785, 1890, 1995, 2100, 2205,
       2310, 2415, 2520, 2625, 2730, 2835, 2940, 3045, 3150, 3255, 3360,
       3465, 3570, 3675, 3780, 3885, 3990, 4095, 4200, 4305, 4410, 4515,
       4620, 4725, 4830, 4935, 5040, 5145, 5250, 5355, 5460, 5565, 5670,
       5775, 5880, 5985, 6090, 6195, 6300, 6405, 6510, 6615, 6720, 6825,
       6930, 7035, 7140, 7245, 7350, 7455])

In [46]:
A = np.array([[1,1],
              [0,1]])
B = np.array([[2,0],
              [3,4]])

In [47]:
A*B

array([[2, 0],
       [0, 4]])

In [48]:
print(A)
print(B)

[[1 1]
 [0 1]]
[[2 0]
 [3 4]]

In [49]:
A@B #[1*2+1*3  1*0+1*4]
     #[0*2+0*3   1*0+1*4]

array([[5, 4],
       [3, 4]])

In [50]:

A.dot(B)

array([[5, 4],
       [3, 4]])

In [52]:
a = np.ones((2,3),dtype= int)
b = np.random.random((2,3))
print(a)
print(b)

[[1 1 1]
 [1 1 1]]
[[0.8865802  0.01352269 0.88427501]
 [0.43036054 0.8696844  0.4730635 ]]

In [57]:
a*3

array([[3, 3, 3],
       [3, 3, 3]])

In [58]:
b += a
b

array([[3.8865802 , 3.01352269, 3.88427501],
       [3.43036054, 3.8696844 , 3.4730635 ]])

In [59]:
a += b

TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [60]:
a = np.ones(3, dtype=np.int32)
b = np.linspace(0,pi,3)
print(a)
print(b)
print(b.dtype.name)

[1 1 1]
[0.         1.57079633 3.14159265]
float64

In [61]:
c = a+b
c

array([1.        , 2.57079633, 4.14159265])

In [63]:
c.dtype.name

'float64'

In [64]:
d = np.exp(c*1j)
d

array([ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
       -0.54030231-0.84147098j])

In [66]:
d.dtype.name

'complex128'

In [69]:
a = np.random.random((2,3))
a

array([[0.16330389, 0.02389156, 0.3384716 ],
       [0.12965264, 0.00756724, 0.99425919]])

In [70]:
a.sum()

1.6571461250892332

In [71]:
a.min()

0.007567244656779382

In [72]:
a.max()

0.9942591946760401

In [73]:
b = np.arange(12).reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [76]:
b.sum(axis=1) #sum of rows

array([ 6, 22, 38])

In [77]:
b.sum(axis=0)

array([12, 15, 18, 21])

In [78]:
b.cumsum(axis=1) # add number present before the number ex 2+1=3 , 3+3 =6

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]], dtype=int32)

In [79]:
b.min(axis=1)

array([0, 4, 8])

# Universal Functions
in numpy universal functions are sin, cos and exp and it work on each element

In [84]:
import numpy as np
B = np.arange(3)
B

array([0, 1, 2])

In [85]:
np.exp(B)

array([1.        , 2.71828183, 7.3890561 ])

In [86]:
np.sqrt(B)

array([0.        , 1.        , 1.41421356])

In [88]:
C = np.array([2., -1., 4.])
C

array([ 2., -1.,  4.])

In [89]:
np.add(B,C)

array([2., 0., 6.])

In [92]:
np.NaN

nan

In [93]:
np.all([[True,False],[True,True]])

False

In [99]:
np.all([[True,False],[True,True]], axis=0)

array([ True, False])

In [104]:
np.all((a))

True

In [105]:
print(np.all([True, True, True]))

True

In [106]:
np.all([True,False,True])

False

In [117]:
o= np.array([False])
z= np.all(([-1, 4, 5]), out=o)
print(o)
id(z), id(o), z

ValueError: output parameter for reduction operation logical_and has too many dimensions

In [130]:
np.apply_along_axis??

In [138]:

def func(x):
    return x+2

b = np.array([[1,2,3], [4,5,6], [7,8,9]])
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [139]:
np.apply_along_axis(func, 0, b)

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [135]:
np.apply_along_axis(func, 1, b)

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [124]:
a = np.array([1,2,5,6,8,3,2,6,7,2,4])
a

array([1, 2, 5, 6, 8, 3, 2, 6, 7, 2, 4])

In [125]:

np.argmax(a)

4

In [126]:
np.argmin(a)

0

In [140]:
np.argsort([1,7,7,3])

array([0, 3, 1, 2], dtype=int64)

In [141]:
np.ceil([1.2,3.5,7.2])

array([2., 4., 8.])

In [3]:
import numpy as np
a=np.array([1,2,3])
b=np.array([3,4,5])

np.cov(a,b)

array([[1., 1.],
       [1., 1.]])

In [6]:
a = np.arange(10)**3
a

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

In [7]:
a[2]

8

In [8]:
a[1:5]

array([ 1,  8, 27, 64], dtype=int32)

In [9]:
a[0:10:2]

array([  0,   8,  64, 216, 512], dtype=int32)

In [12]:
a[:6:2] = -1000 
a

array([-1000,     1, -1000,    27, -1000,   125,   216,   343,   512,
         729], dtype=int32)

In [13]:
a[ : :-1]                       #reversed a

array([  729,   512,   343,   216,   125, -1000,    27, -1000,     1,
       -1000], dtype=int32)

In [14]:
for i in a:
    print(i**(1/3.))

nan
1.0
nan
3.0
nan
5.0
5.999999999999999
6.999999999999999
7.999999999999999
8.999999999999998

D:\ana\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in power

In [18]:
def f(x,y):
        return 10*x+y
b = np.fromfunction(f,(5,4),dtype=int)
b

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [20]:
np.fromfunction(lambda a, b: a == b, (3, 3), dtype=int)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [22]:
np.fromfunction(lambda a, b: a+b, (3, 3))

array([[0., 1., 2.],
       [1., 2., 3.],
       [2., 3., 4.]])

In [23]:
b[2,3]

23

In [24]:
b[0:5,1]

array([ 1, 11, 21, 31, 41])

In [25]:
b[:,1]

array([ 1, 11, 21, 31, 41])

In [26]:
 b[1:3, : ]

array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

In [27]:
b[-1]

array([40, 41, 42, 43])

In [28]:
b[0,...]

array([0, 1, 2, 3])

In [29]:
b[...,1]

array([ 1, 11, 21, 31, 41])

In [31]:
c = np.array( [[[  0,  1,  2],               # a 3D array (two stacked 2D arrays)
                [ 10, 12, 13]],
               [[100,101,102],
                [110,112,113]]])
c.shape

(2, 2, 3)

In [32]:
c[1]                    #c= [1,:,:] [1,...]

array([[100, 101, 102],
       [110, 112, 113]])

In [33]:
print(c)

[[[  0   1   2]
  [ 10  12  13]]

 [[100 101 102]
  [110 112 113]]]

In [34]:
c[...,2]

array([[  2,  13],
       [102, 113]])

In [35]:
print(b)

for row in b:
    print(row)

[[ 0  1  2  3]
 [10 11 12 13]
 [20 21 22 23]
 [30 31 32 33]
 [40 41 42 43]]
[0 1 2 3]
[10 11 12 13]
[20 21 22 23]
[30 31 32 33]
[40 41 42 43]

In [36]:
for element in b.flat:
    print(element)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43

In [ ]:
# Indexing, Slicing and Iterating

In [38]:
for index in np.ndindex(3, 2,1):
    print(index)

(0, 0, 0)
(0, 1, 0)
(1, 0, 0)
(1, 1, 0)
(2, 0, 0)
(2, 1, 0)

In [43]:
a = np.floor(10*np.random.random((3,4)))
a

array([[5., 3., 4., 6.],
       [7., 0., 4., 8.],
       [0., 3., 5., 5.]])

In [47]:
a.ravel()

array([5., 3., 4., 6., 7., 0., 4., 8., 0., 3., 5., 5.])

In [49]:
a.reshape(6,2)

array([[5., 3.],
       [4., 6.],
       [7., 0.],
       [4., 8.],
       [0., 3.],
       [5., 5.]])

In [50]:
a.T

array([[5., 7., 0.],
       [3., 0., 3.],
       [4., 4., 5.],
       [6., 8., 5.]])

In [51]:
a.T.shape

(4, 3)

In [52]:
a = np.floor(10*np.random.random((2,2)))
a

array([[7., 0.],
       [9., 9.]])

In [53]:
b = np.floor(10*np.random.random((2,2)))
b

array([[9., 4.],
       [4., 5.]])

In [54]:
np.vstack((a,b))

array([[7., 0.],
       [9., 9.],
       [9., 4.],
       [4., 5.]])

In [55]:
np.hstack((a,b))

array([[7., 0., 9., 4.],
       [9., 9., 4., 5.]])

In [57]:
a= np.array([[9., 7., 4., 6.],
             [5., 9., 8., 0.],
             [6., 5., 3., 0.]])
a

array([[9., 7., 4., 6.],
       [5., 9., 8., 0.],
       [6., 5., 3., 0.]])

In [58]:
a.resize((2,6))
a

array([[9., 7., 4., 6., 5., 9.],
       [8., 0., 6., 5., 3., 0.]])

In [61]:
a.reshape((3,-1))

array([[9., 7., 4., 6.],
       [5., 9., 8., 0.],
       [6., 5., 3., 0.]])

In [62]:
a=np.array([[0,1],[2,3]])
a

array([[0, 1],
       [2, 3]])

In [63]:
np.resize(a,(2,3))

array([[0, 1, 2],
       [3, 0, 1]])

In [64]:
print(a)

[[0 1]
 [2 3]]

In [66]:
b= a.ravel()
b

array([0, 1, 2, 3])

In [67]:
b[0]=20
b

array([20,  1,  2,  3])

In [68]:
a

array([[20,  1],
       [ 2,  3]])

In [69]:
c=a.flatten()
print(c)
c[0]=400
print(c)
a

[20  1  2  3]
[400   1   2   3]

array([[20,  1],
       [ 2,  3]])

In [76]:
a = np.floor(10*np.random.random((2,2)))
a

array([[0., 2.],
       [1., 2.]])

In [77]:
b = np.floor(10*np.random.random((2,2)))
b

array([[5., 1.],
       [0., 9.]])

In [78]:
from numpy import newaxis
np.column_stack((a,b))

array([[0., 2., 5., 1.],
       [1., 2., 0., 9.]])

In [79]:
a = np.array([4.,2.])
b = np.array([3.,8.])
np.column_stack((a,b))

array([[4., 3.],
       [2., 8.]])

In [80]:
np.hstack((a,b))

array([4., 2., 3., 8.])

In [81]:
print(a)
a[:,newaxis]

[4. 2.]

array([[4.],
       [2.]])

In [82]:
print(b)
b[:,newaxis]

[3. 8.]

array([[3.],
       [8.]])

In [83]:
np.column_stack((a[:,newaxis],b[:,newaxis]))

array([[4., 3.],
       [2., 8.]])

In [84]:
np.r_[1:4,0,4]

array([1, 2, 3, 0, 4])

In [86]:
 np.row_stack((a[:,newaxis],b[:,newaxis]))

array([[4.],
       [2.],
       [3.],
       [8.]])

In [89]:
np.random.random((2,4))

array([[0.57464751, 0.24320301, 0.5235527 , 0.60652554],
       [0.44010315, 0.61732327, 0.55960808, 0.52055106]])

In [93]:
a = np.floor(10-np.random.random((2,12)))
a

array([[9., 9., 9., 9., 9., 9., 9., 9., 9., 9., 9., 9.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9., 9., 9.]])

In [95]:
a = np.floor(10+np.random.random((2,12)))
a

array([[10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.]])

In [97]:
a = np.floor(np.random.random((2,12)))
a

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [98]:
a = np.floor(10*np.random.random((2,12)))
a

array([[6., 7., 9., 4., 0., 5., 6., 2., 9., 0., 5., 6.],
       [4., 7., 6., 0., 0., 3., 6., 7., 9., 6., 6., 0.]])